form {
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  border-radius:2px;
  border: 1PX solid sandybrown;
  border-radius: 2px;
  position: absolute;
  
}
  label {
    display: block;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  button{
    margin-top: 10PX;
  }
h1{
  background-color: black;
  color: #f1e0e0;
  font-size: 35px;
}