<html>

<body>
  <div class="background-image">
    <div class="signup-container">
      <div>
        <img [src]="source" alt="Logo"
          class="logo">
      </div>
      <header class="header">
        {{statement}}
      </header>

      <form [formGroup]="signupForm" (submit)="onSubmit(signupForm)">
        <label for="username">Username:</label>
        <input type="text"  formControlName="username" required>
        <div *ngIf="signupForm.get('username')?.hasError('required')" class="error-message">
          Username is required
        </div>

        <label for="password">Password:</label>
        <input type="password" formControlName="password" required>
        <div *ngIf="signupForm.get('password')?.hasError('required')" class="error-message">
          Password is required
        </div>

        <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>

        <p class="login">Already a customer? <a routerLink="/login">Log in here.</a></p>
      </form>
    </div>
  </div>
</body>

</html>